
<script src="/js/review.js"></script>
<footer>    
     <div class="well">
          <h2 align="center">
               Bringing Game to Everyone Life
          </h2>
          <div class="flex-wrap flex-between" style="padding: 0 20px; margin-top: 30px;">
               <div>
                    <a>Home</a>
                    <a style="margin-left: 20px;">Market</a>
                    <a style="margin-left: 20px;">My account</a>
               </div>
               <div>
                    <a>Follow us</a>
               </div>
          </div>
     </div>
</footer>

</body>

</html>