<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>POG</title>

     <!-- external -->
     <script type="text/javascript" src="/js/jquery.min.js"></script>
     <link rel="stylesheet" href="/bootstrap3.3.7/css/bootstrap.min.css">
     <script type="text/javascript" src="/bootstrap3.3.7/js/bootstrap.min.js"></script>
     <link rel="stylesheet" href="/style/bootstrap.css">
     <link rel="stylesheet" href="/style/style.css">
     <script src="https://js.stripe.com/v3/"></script>
     
     
</head>

<body>
     <div class="container">
          <div class="page-header-content">
               <div class="page-header">
                    <div class="flex-wrap flex-between">
                         <h4 style="font-size: xx-large; margin-top: 0px;">Paradise Of Gamer</h4>
                              <img src="/images/header/logo.png" class="img-responsive center-block" style="width:130px;height:100px"
                                  alt="Responsive image">
                         
                         <div class="flex-wrap flex-center">
                              <span style="margin-right: 10px;">
                                   <a href="/logout">Log Out</a>
                              </span>
                              <ul class="nav nav-pills">
                                   <li role="presentation" class="active"><a href="/">Home</a></li>
                                   <li role="presentation" class="active"><a href="/market">Market</a></li>
                                   <li role="presentation" class="active"><a href="/review">GameReview</a></li>
                              </ul>
                         </div>

                    </div>
               </div>
          </div>

     </div>