<%- include ("partials/header")  %> 
    <div class="container">
        
     <section class="page-content-panel">
         <div class="home-page">
             <h4 align="center">What we have is more than you expected</h4>
             <p align="center">Ant Design, a design language for background applications, is refined by Ant UED Team
             </p>
             <p align="center"> Ant Design, a design language for background applications</p>
             <img src="/images/photo-wall.jpeg" class="img-responsive center-block" alt="Responsive image">
         </div>

     </section>
 </div>

 <%- include ("partials/footer") %> 
