<%- include ("partials/loginHeader")  %>

<div style="height:100vh" class="container-fluid flex-wrap flex-center flex-middle">
    
     <div class="panel panel-default" style="width: 30%;">
         <div class="panel-heading">
             <h1 align="center" class="panel-title" style="padding: 10px;">Sell your game</h1>
         </div>
         <div class="panel-body">
             
             <form class="form-horizontal submit-form" style="padding: 20px 20px 10px 20px;" action="/market" method="POST">
                 <div class="form-group has-success">
                      <input type="text" class="form-control" name="name" placeholder="Item Name" aria-describedby="helpBlock2" required>
                 </div>
                 <div class="form-group has-success">
                    <input type="number" class="form-control" name="price" placeholder="Price" aria-describedby="helpBlock2" required>
               </div>
                 <div class="form-group has-success">
                      <input type="text" class="form-control" placeholder="Description" name="body" required>
                 </div>
                 <div class="form-group has-success">
                    <input type="text" class="form-control" placeholder="IF negotiable" name="negotiable" required>
               </div>
                 <button type="submit" class="btn btn-default" style="width: 100%;">Sell</button>
                 
            </form>
         </div>
     </div>
 </div>

<%- include ("partials/footer") %> 