<%- include ("partials/loginHeader")  %>
<div class="container">
     <div class="md-form active-purple active-purple-2 mb-3">
          <form action="/review/game" method="GET"> 
               <input class="form-control" type="text" aria-label="Search" name='game' id="search">
               <button type="submit" class="btn btn-success btn-lg" style="margin-top: 60px; margin-left: 45%;" id='go'>Search</button>
     </form>

        </div>
</div>

<%- include ("partials/footer") %> 